#reg {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid-input {
    background-color: rgb(255, 202, 202);
}

.reg-cont {
    background-color: lightblue;
    height: 85vh;
    width: 80vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-input {
    display: block;
    margin: 1vh 0 0 0;
    height: 5vh;
    width: 70vw;
    max-width: 400px;
    font-size: 2.5vh;
}

.reg-btn {
    height: 5vh;
    margin: 20px 0 15px 0;
    border: 1px solid blue;
    border-radius: 20px;
}


@media only screen and (max-height: 650px) {
    #reg {
        display: block;
    }

    .log-title {
        font-size: 30px;
        margin: 2vh 0;
    }

    .reg-cont {
        height: 90vh;
        min-height: 500px;
        margin: 5vh auto;
    }

    .reg-input {
        height: 25px;
        font-size: 15px;
        margin-top: 5px;
    }

    .reg-btn {
        height: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .reg-cont {
        height: 80vh;
    }

    .log-title {
        margin: 2vh 0;
    }

    .reg-input {
        height: 30px;
        font-size: 18px;
        margin-top: 10px;
    }

    .reg-btn {
        height: 30px;
    }
}