* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.lp-flex-a {
    height: 90vh;
    display: flex;
    justify-content: center;
}

.lp-flex-item {
    width: 45%;
}

.lp-flex-left {
    display: flex;
    padding: 20vh 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.lp-flex-left h1 {
    margin: 0;
    font-size: 10vh;
}

.lp-flex-left p {
    margin: 0;
    font-size: 4vh;
}

.lp-flex-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-cont {
    background-color: black;
    width: 450px;
    height: 300px;
}

@media only screen and (max-width:400px) {
    .lp-flex-left h1 {
        font-size: 55px;
    }

    .lp-flex-left p {
        font-size: 25px;
        text-align: center;
    }

    .video-cont {
        height: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .lp-flex-a {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .lp-flex-item {
        width: 80%;
    }

    .lp-flex-left {
        height: 90vh;
        padding-top: 5vh;
    }

    .lp-flex-left h1 {
        margin: 3vh 0;
        text-align: center;
    }

    .lp-flex-right {
        padding: 10vh 0;
    }
}
